/*============GENERAL===========*/

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gothamHTF-book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
}

section {
  height: 100%;
  text-align: center;
  background-image: url('../img/bg.jpg');
  background-size: auto 100%;
  background-position: center center;
  position: relative;
  overflow-x: hidden;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   background-color: transparent !important;
   -webkit-box-shadow: 0 0 0 1000px  transparent inset !important;
       -webkit-text-fill-color: #333;
}

.rotate-left-min {
  animation: rotate-left-min 0.65s linear;
}

.rotate-left-max {
  animation: rotate-left-max 0.65s linear;
}

.rotate-right-min {
  animation: rotate-right-min 0.65s linear;
}

.rotate-right-max {
  animation: rotate-right-max 0.65s linear;
}

.body-content {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.show-content {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.container-fluid {
  padding: 0;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #222;
  text-align: center;
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1.5em;
  vertical-align: middle;
  color: #1d1d1d;
}

#for_mobile {
  display: block;
}

.fade-in-out {
  transition: 1s linear all;
  opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}

.landscape-mode {
    display: none;
}

.landscape-mode h3 {
    display: none;
}

.logo {
  position: absolute;
  left: 30px;
  top: 20px;
  z-index: 25;
}

.logo img {
  width: auto;
  height: 60px;
  position: absolute;
}

.title h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  z-index: 10;
}

.footer-ipad,
.footer1,
.footer2,
.footer3 {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
}

.footer1 {
  bottom: 25px;
}

.footer2 {
  bottom: 35px;
}

.footer3 {
  bottom: 25px;
  visibility: hidden;
}

.footer3 .client {
  display: inline-block;
  width: 11%;
}

.footer3 img {
  width: 60px;
}

.footer3 h2 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.footer1 h2,
.footer2 h2{
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin: auto;
  line-height: 130%;
}
.bg {
  position: relative;
  width: 100px;
}

.bg.brown {
  background-image: url('../img/bg2.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  float: none;
  z-index: 3;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#pre-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: center no-repeat #fff;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  margin-left: -35px;
  margin-top: -35px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #76AE2C;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper1 {
  position: absolute;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper1.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper1.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper1.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper2 {
  position: absolute;
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper2.toggled {
    padding-right: 220px;
}

#rightbar-wrapper {
    z-index: 1002;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -ms-transform: translateX(450px);
    -webkit-transform: translateX(450px);
    transform: translateX(450px);
}

#rightbar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper2.toggled #rightbar-wrapper {
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper2.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#career-sidebar {
  position: absolute;
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#career-sidebar.toggled {
    padding-right: 220px;
}

#career-sidebar #rightbar3-wrapper {
    z-index: 1002;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -ms-transform: translateX(450px);
    -webkit-transform: translateX(450px);
    transform: translateX(450px);
}

#career-sidebar #rightbar3-wrapper::-webkit-scrollbar {
  display: none;
}

#career-sidebar.toggled #rightbar3-wrapper {
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

/*-------------------------------*/
/*     Right Sidebar nav styles   */
/*-------------------------------*/

.rightbar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
    padding: 15px 25px;
    list-style: none;
}

.rightbar-nav .back {
  text-align: left;
}

.rightbar-nav i {
  color: #000;
  font-size: 24px;
  margin-left: -10px;
}

.rightbar-nav h2 {
  color: #000;
}
.rightbar-nav .social-hr {
  margin-top: 80px;
}
.rightbar-nav .form-group {
  margin-top: 10px;
  width: 100%;
}

.rightbar-nav .form-control {
  font-size: 14px;
  height: 44px;
}

.rightbar-nav .form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
  left: 0;
  font-family: 'Nunito';
}

.rightbar-nav .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label, .form-group.label-static label.control-label {
  top: -25px;
}

.rightbar-nav .btn.btn-warning {
  background-color: #ff5722;
  color: #fff;
  border-radius: 25px;
  padding: 8px 15px;
  float: right;
}

.rightbar-nav .social {
  margin: 0 auto;
  display: inline-block;
}

.rightbar-nav .social img {
  width: 45px;
  margin: 0 4px;
}

/*-------------------------------*/
/*     Career Right Sidebar nav styles   */
/*-------------------------------*/

.career-rightbar {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
    padding: 15px 25px;
    list-style: none;
}

.career-rightbar .back {
  text-align: left;
}

.career-rightbar i {
  color: #000;
  font-size: 24px;
  margin-left: -10px;
}

.career-rightbar h2,
.career-rightbar h3,
.career-rightbar h4 {
  color: #000;
}

.career-rightbar h4.form-title {
  text-align: right;
  margin: 0;
}

.career-rightbar h4.job-title {
  font-weight: 500;
  margin-top: 30px;
}

.career-rightbar .form-group {
  margin-top: 25px;
  width: 100%;
}

.career-rightbar input.form-control {
  font-size: 16px;
  height: 44px;
}

.career-rightbar .form-group.label-floating label.control-label,
.career-rightbar .form-group label.control-label,
.career-rightbar .form-group.label-placeholder label.control-label {
  left: 0;
  font-family: 'Nunito';
  font-size: 14px;
}

.career-rightbar .form-group.label-floating.is-focused label.control-label,
.career-rightbar .form-group.label-floating:not(.is-empty) label.control-label,
.career-rightbar .form-group.label-static label.control-label {
  top: -25px;
}

.career-rightbar .form-group p.help-text {
  font-weight: 700;
  font-size: 12px;
  margin: 0px;
}

.career-rightbar .btn.btn-warning {
  color: #fff;
  border-radius: 25px;
  padding: 8px 15px;
}




/*-------------------------------*/
/*     Left Sidebar nav styles   */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 260px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #F2F2F2;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    font-family: "Gotham";
    display: block;
    color: #3F3A37;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li.sidebar-brand a {
    padding: 10px 15px 10px 10px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #3F3A37;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav > .sidebar-brand img {
    width: 80%;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 15px;
  z-index: 999;
  display: block;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed {
  background-color: #fff;
  border-radius: 25px;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  width: 60%;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: relative;
  left: 0;
  height: 4px;
  width: 60%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #EC6B10;
}
.hamburger.is-closed .hamb-top {
  top: 12px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 12px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay1 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
}

/*============CLOUD===========*/

.cloud1 {
  background-image: url('../img/cloud1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 38px;
  width: 115px;
  -webkit-animation: animatec 20s linear infinite;
  -moz-animation: animatec 20s linear infinite;
  animation: animatec 20s linear infinite;
}

.cloud2 {
  background-image: url('../img/cloud2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 58px;
  width: 180px;
  -webkit-animation: animatecc 30s linear infinite;
  -moz-animation: animatecc 30s linear infinite;
  animation: animatecc 30s linear infinite;
}

.cloud3 {
  background-image: url('../img/cloud3.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 64px;
  width: 200px;
  -webkit-animation: animateccc 35s linear infinite;
  -moz-animation: animateccc 35s linear infinite;
  animation: animateccc 35s linear infinite;
}

.fp-slidesContainer {
  position: absolute;
  z-index: 4;
}

#menu li {
  display:inline-block;
  margin: 0px 20px;
  color: #000;
}
#menu li a{
  display:block;
  text-decoration:none;
  color: #000;
  font-size: 17px;
  font-weight: 500;
}
#menu li.active a:hover{
  color: #000;
}

#menu li a:after {
  padding-top: 5px;
  display: block;
  content: '';
  border-bottom: solid 4px #EC6A12;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  text-align: left;
}

#menu li a.menu:after {
  transform-origin: 0% 50%;
}

#menu li a:hover:after,
#menu li.active a:after {
  transform: scaleX(0.25);
}

#menu{
  font-family: 'Gotham';
  position: fixed;
  top:30px;
  right:25px;
  height: 40px;
  z-index: 10;
  padding: 0;
  margin:00;
}


/*============HOME===========*/

#slide-0 {
  position: relative;
}

#slide-0 .bg-0 {
  background-image: url('../img/00.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  bottom: 0;
}

#slide-0 .chat1 {
  margin-left: 6%;
  margin-bottom: 10%;
  width: 575px;
}

#slide-0 .chat1 p {
  font-size: 25px;
  font-weight: 600;
}

#slide-0 .chat1 img {
  width: 175px;
  display: inline-block;
}

#slide-0 .bg1 {
  margin-left: 14%;
  margin-bottom: 8%;
}

#slide-0 .bg1 img {
  width: 350px;
  display: block;
  opacity: 0.8;
}

#slide-0 .chat2 {
  margin-left: auto;
  margin-right: 2%;
  margin-bottom: 10%;
  width: 575px;
}

#slide-0 .chat2 p {
  font-size: 25px;
  font-weight: 600;
  padding: 0 150px;
}

#slide-0 .chat2 img {
  width: 175px;
  display: block;
}

#slide-0 .bg2 {
  margin-bottom: 10%;
}

#slide-0 .bg2 img {
  display: block;
  margin-left: auto;
  margin-right: 10%;
  width: 350px;
  opacity: 0.8;
}

#slide-0 .body-content .circle {
  margin: 0em;
}

#slide-0 .body-content .circle__content {
  padding: 0em;
}


/*============ABOUT===========*/

#slide-1 {
  position: relative;
}

#slide-1 .bg-1 {
  background-image: url('../img/01.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  bottom: 0;
}

#slide-1 .about {
  margin-left: 13%;
  margin-bottom: 4%;
  width: 575px;
}

#slide-1 .bg {
  margin-left: 13%;
  margin-bottom: 4%;
}

#slide-1 .bg img {
  width: 550px;
}

#slide-1 .leaf1,
#slide-1 .leaf2,
#slide-1 .leaf3,
#slide-1 .leaf4 {
  background-image: url('../img/leaf.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  height: 25px;
  width: 14px;
  z-index: 102;
}

#slide-1 .leaf1 {
  left: 70%;
  top: 50%;
  -webkit-animation: leafone 7s linear infinite;
  -moz-animation: leafone 7s linear infinite;
  -o-animation: leafone 7s linear infinite;
  animation: leafone 7s linear infinite;
}

#slide-1 .leaf2 {
  left: 65%;
  top: 50%;
  -webkit-animation: leaftwo 6s linear infinite;
  -moz-animation: leaftwo 6s linear infinite;
  -o-animation: leaftwo 6s linear infinite;
  animation: leaftwo 6s linear infinite;
}

#slide-1 .leaf3 {
  left: 60%;
  top: 50%;
  -webkit-animation: leafthree 8s linear infinite;
  -moz-animation: leafthree 8s linear infinite;
  -o-animation: leafthree 8s linear infinite;
  animation: leafthree 8s linear infinite;
}

#slide-1 .leaf4 {
  left: 55%;
  top: 50%;
  -webkit-animation: leaffour 5s linear infinite;
  -moz-animation: leaffour 5s linear infinite;
  -o-animation: leaffour 5s linear infinite;
  animation: leaffour 5s linear infinite;
}

#slide-1 .about .body-content {
  text-align: left;
  margin: 0px;
  padding-left: 60px;
  padding-right: 100px;
  font-size: 15px;
  line-height: 170%;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

#slide-1 .body-content p {
  margin-bottom: 0px;
}

#slide-1 .body-content .company-name img {
  width: 80px;
  vertical-align: middle;
  padding-bottom: 5px;
}


/*============WHAT===========*/

#slide-2 {
  position: relative;
}

#slide-2 .bg-2{
  background-image: url('../img/022.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 101;
}

#slide-2 .bg-green {
  background-image: url('../img/bg-green.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  bottom: 0;
}

#slide-2 .smoke {
  position: absolute;
  left: 39%;
  top: 13%;
  height: 280px;
  width: 285px;
  margin: 2% auto;
  background: url('../img/smoke/smoke.png') left center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  animation: smoke .8s steps(6) infinite;
  z-index: 99;
}

#slide-2 .what1 .circle {
  margin-left: 23%;
  width: 310px;
  margin-bottom: 15%;
}

#slide-2 .what2 .circle {
  margin-left: auto;
  margin-right: 23%;
  width: 310px;
  margin-bottom: 15%;
}

#slide-2 .what3 .circle {
  margin-left: 10%;
  width: 310px;
  margin-top: 10%;
}

#slide-2 .circle3 .circle {
  margin-left: 10%;
  width: 310px;
  margin-top: 10%;
}

#slide-2 .what4 .circle {
  margin-left: auto;
  margin-right: 10%;
  width: 310px;
  margin-top: 10%;
}

#slide-2 .circle4 .circle {
  margin-left: auto;
  margin-right: 10%;
  width: 310px;
  margin-top: 10%;
}

#slide-2 .what3 .circle:after,
#slide-2 .what4 .circle:after {
  background: none;
}

#slide-2 .body-content {
  text-align: left;
  line-height: 170%;
}

#slide-2 .body-content p {
  margin-bottom: 0px;
  font-size: 14px;
}

#slide-2 .body-content .sub-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 7px;
  text-transform: uppercase;
}

#slide-2 .circle {
  text-align: left;
}

#slide-2  .circle__content {
  padding: 4em;
}


/*============WORKS===========*/

#slide-3 {
  background-image: url('../img/03.png');
  background-size: auto 100%;
  background-position: center center;
  position: relative;
}

#slide-3 .outer,
#slide-3 .middle,
#slide-3 .bg {
    pointer-events: none;
}

#slide-3 .bg1 {
    pointer-events: auto;
}
#slide-3 .bg2 {
    pointer-events: auto;
}
#slide-3 .bg3 {
    pointer-events: auto;
}
#slide-3 .bg4 {
    pointer-events: auto;
}

#slide-3 .bg1-highlight {
    background: none;
    background-size: auto 100%;
    background-position: center center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 98;
}

#slide-3 .bg2-highlight {
    background: none;
    background-size: auto 100%;
    background-position: center center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 98;
}

#slide-3 .bg3-highlight {
    background: none;
    background-size: auto 100%;
    background-position: center center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 98;
}

#slide-3 .bg4-highlight {
    background: none;
    background-size: auto 100%;
    background-position: center center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 98;
}

#slide-3 .works {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

#slide-3 .body-content {
  text-align: center;
  padding: 15px 10px;
  font-size: 22px;
  line-height: 190%;
  z-index: 999;
  font-weight: 100;
}

#slide-3 .body-content a i {
  font-size: 14px;
  margin-left: 5px;
  display: none;
}

#slide-3 .body-content a:hover i {
  display: inline-block;
}

#slide-3 .see-more a {
  border-radius: 25px;
}

.modal-content .modal-body .row.client {
  border-bottom: 3px solid #EBEBEB; 
  margin: 0px 35px 0px 35px
}
.modal-content .modal-body.work {
  padding: 0px 0px 16px 0px;
}
.modal-content .modal-body .row.client:last-child {
  border-bottom: none;
}

.modal-content .modal-body .row.client .list-client {
  text-align: center;
  padding: 16px 0px 16px 0px 
}
.modal-content .modal-body .row.client .list-client img{
  width: 200px;
  height: 85px
}
.modal-content .modal-body .row.client .list-client h4{
  font-weight: 600;
}

/*============CULTURE===========*/

#slide-4 {
  position: relative;
}

#slide-4 .bg-4 {
  background-image: url('../img/05.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  bottom: 0;
}

#slide-4 .bg-green {
  background-image: url('../img/bg-green.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  bottom: 0;
}

#slide-4 .balloon {
  background-image: url('../img/balloon.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 48%;
  top: 35%;
  height: 120px;
  width: 84px;
  -webkit-animation: balloon  5s linear infinite;
  -moz-animation: balloon 5s linear infinite;
  animation: balloon  5s linear infinite;
}

#slide-4 .culture1 .circle {
  margin-left: 23%;
  width: 310px;
  margin-bottom: 15%;
}

#slide-4 .culture2 .circle {
  margin-left: auto;
  margin-right: 23%;
  width: 310px;
  margin-bottom: 15%;
}

#slide-4 .culture3 .circle {
  margin-left: 15%;
  width: 310px;
  margin-top: 15%;
}

#slide-4 .circle3 .circle {
  margin-left: 15%;
  width: 310px;
  margin-top: 15%;
}

#slide-4 .culture4 .circle {
  margin-left: auto;
  margin-right: 15%;
  width: 310px;
  margin-top: 15%;
}

#slide-4 .circle4 .circle {
  margin-left: auto;
  margin-right: 15%;
  width: 310px;
  margin-top: 15%;
}

#slide-4 .culture3 .circle:after,
#slide-4 .culture4 .circle:after {
  background: none;
}


#slide-4 .body-content {
  text-align: left;
  line-height: 170%;
}

#slide-4 .body-content p {
  margin-bottom: 0px;
  font-size: 14px;
}

#slide-4 .body-content .sub-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 7px;
}

#slide-4 .circle {
  text-align: left;
}

#slide-4  .circle__content {
  padding: 4em;
}

/*============TESTIMONIAL===========*/

#slide-5 {
  position: relative;
}

#slide-5 .bg-5 {
  background-image: url('../img/06.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  bottom: 0;
  pointer-events: none;
}

#slide-5 .bg-green {
  background-image: url('../img/bg-green.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  bottom: 0;
  pointer-events: none;
}

#slide-5 .testimonial {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  width: 850px;
}

#slide-5 .testimonial .circle:after {
  background: none;
}

#slide-5 .testimonial.outer {
  z-index: 102;
}

#slide-5 .circle_testimonial {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  width: 850px;
  z-index: 102;
}

#slide-5 .body-content {
  font-size: 16px;
  line-height: 150%;
}

#slide-5 .circle__content {
  padding: 6em 13em;
  vertical-align: top;
  text-align: left;
}

#slide-5 .circle__content .testimonial-content {
  margin-bottom: 40px;
}

#slide-5 .circle__content .testimonial-content p {
  font-size: 14px;
}

#slide-5 .circle__content .testimonial-content img {
  width: 2vh;
  display: inline-block;
  margin-top: -14px;
}

#slide-5 .circle__content .testimonial-content strong {
  font-size: 30px;
}

#slide-5 .circle__content .testimonial-identity .col-md-2 {
  padding: 0;
}

#slide-5 .circle__content .testimonial-img img {
  width:100%;
  border:5px solid white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  box-shadow: 3px 3px 5px grey;
}

#slide-5 .circle__content .testimonial-name h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 20px;
}

#slide-5 .circle__content .testimonial-name h4 {
  font-weight: 600;
  margin-bottom: 0;
  font-size: 13px;
}

#slide-5 .circle__content .testimonial-name p {
  font-size: 13px;
}

#slide-5 .body-content .half-content:nth-child(2) {
  display: none;
}

#slide-5 .body-content i.up {
  width: 30px;
  cursor: pointer;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 5vh;
  -webkit-animation: bounce 1.5s linear infinite;
  -moz-animation: bounce 1.5s linear infinite;
  animation: bounce 1.5s linear infinite;
}

#slide-5 .body-content i.down {
  width: 30px;
  cursor: pointer;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 74vh;
  -webkit-animation: bounce 1.5s linear infinite;
  -moz-animation: bounce 1.5s linear infinite;
  animation: bounce 1.5s linear infinite;
}

/*============CAREER===========*/

#slide-6 {
  position: relative;
}

#slide-6 .bg-6 {
  background-image: url('../img/07.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  bottom: 0;
  pointer-events: none;
}

#slide-6 .bg-green {
  background-image: url('../img/bg-green.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  bottom: 0;
  pointer-events: none;
}

#slide-6 .career {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  width: 850px;
}

#slide-6 .career .circle:after {
  background: none;
}

#slide-6 .career.outer {
  z-index: 102;
}

#slide-6 .circle_career {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  width: 850px;
  z-index: 102;
}

#slide-6 .body-content {
  font-size: 16px;
  line-height: 150%;
}

#slide-6 .circle__content {
  padding: 8em 12em;
  vertical-align: top;
  text-align: left;
}

#slide-6 .circle__content .row {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

#slide-6 .circle__content .row:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

#slide-6 .body-content .circle__content .detail ol {
  padding-left: 1em;
}

#slide-6 .body-content .sub-detail1, #slide-6 .body-content .sub-detail2, #slide-6 .body-content .sub-detail3 {
  display: none;
}

#slide-6 .body-content i {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  -webkit-animation: bounceright 2s linear infinite;
  -moz-animation: bounceright 2s linear infinite;
  animation: bounceright 2s linear infinite;
}

#slide-6 .body-content .sub-detail1 i, #slide-6 .body-content .sub-detail2 i, #slide-6 .body-content .sub-detail3 i  {
  font-size: 25px;
}

#slide-6 .body-content .sub i {
  margin-left: 15px;
}

#slide-6 .btn-warning {
  width: 50%;
  font-size: 12px;
  padding: 6px 11px;
}

#slide-6 .circle__content h4 {
  font-weight: 600;
  margin-top: 5px;
}

#slide-6 .circle__content p {
  margin: 0;
}

#slide-6 .circle__content a {
  color: #000;
}



/*============BLOG===========*/

#slide-7 {
  position: relative;
}

#slide-7 .bg-7 {
  background-image: url('../img/08.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  bottom: 0;
  pointer-events: none;
}

#slide-7 .bg-green {
  background-image: url('../img/bg-green.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  bottom: 0;
  pointer-events: none;
}

#slide-7 .blog {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  width: 850px;
}

#slide-7 .blog .circle:after {
  background: none;
}

#slide-7 .blog.outer {
  z-index: 102;
}

#slide-7 .circle_blog {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  width: 850px;
  z-index: 102;
}

#slide-7 .blog .article-content a,
#slide-7 .blog .article-content .article-text a {
    text-decoration: none;
}

#slide-7 .blog .article-content .article-text a.read-more:hover {
    text-decoration: underline;
}

#slide-7 .visit-button {
  position: absolute;
  z-index: 102;
  bottom: 17vh;
  width: 100vw;
}

#slide-7 .visit-button a {
  display: block;
  margin: 0 auto;
  width: 110px;
  padding: 8px 15px;
  border-radius: 25px;
}

#slide-7 .blog-mb .visit-button {
  bottom: calc(100% - 45vh);
  width: calc(96.5% - 20vw);
}

#slide-7 ul {
  list-style-type: none;
  padding-left: 0;
}

/*============CONTACT===========*/

#slide-8 {
  position: relative;
}

#slide-8 .bg-8 {
  background-image: url('../img/09.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  bottom: 0;
}

#slide-8 .bg-green {
  background-image: url('../img/bg-green.png');
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  bottom: 0;
}

#slide-8 .contact {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  width: 850px;
}

#slide-8 .contact .circle:after {
  background: none;
}

#slide-8 .content.outer {
  z-index: 102;
}

#slide-8 .circle_contact {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  width: 850px;
}

#slide-8 .body-content {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
}

#slide-8 .circle__content {
  padding: 6em 4em;
  vertical-align: top;
}

#slide-8 .circle__content p {
  margin: 0;
}

#slide-8 .circle__content a {
  color: #000;
}

#slide-8 form {
  margin: 15px auto 0;
  width: 55%;
  color: #000;
}

#slide-8 .form-group {
  margin: 0;
}

#slide-8 .form-control {
  font-size: 14px;
  height: 34px;
}

#slide-8 textarea.form-control {
  height: 60px;
}

#slide-8 .form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
  left: 0;
}

#slide-8 .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label, .form-group.label-static label.control-label {
  top: -25px;
}

#slide-8 .btn-warning {
  background-color: #ff5722;
  color: #fff;
  border-radius: 25px;
  padding: 8px 15px;
  float: right;
}

#slide-8 .social {
  position: absolute;
  width: 100%;
  z-index: 102;
}

#slide-8 .social img {
  width: 45px;
  margin: 0 4px;
}


/*============MODAL===========*/

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  font-weight: 700;
  font-size: 30px;
  vertical-align: middle;
}

.modal-dialog a {
  color: #45810F;
}

.modal-header .close {
    margin-top: -2px;
    font-weight: 700;
    font-size: 30px;
}

#careerModal .modal-body {
  padding-top: 0;
}

#careerModal h4.title {
  text-align: center;
}

#career-form .form-group {
  margin: 13px 0 0 0;
}

#career-form .form-group.label-floating label.control-label,
#career-form .form-group label.control-label {
    font-size: 14px;
}

#career-form .form-group input {
  font-weight: 500;
}

#career-form .form-group p.help-text {
  font-weight: 700;
  font-size: 12px;
  margin: 0px;
}

#career-form .form-group .resume .col-md-2 {
  padding-right: 0;
}

#career-form .form-group .resume .col-md-10 {
  padding-left: 0;
}

#career-form .form-group .resume label {
 margin-top: 27px;
}

#career-form .form-group .resume input[type=file] {
  z-index: 1;
}

#career-form .form-group .resume button {
  z-index: 2;
}

#career-form .form-group .resume .help-block.with-errors {
  display: inline-block;
}

#career-form .form-group .resume input[type=text] {
  cursor: pointer;
  z-index: 0;
}

#career-form button {
  display: block;
  margin: 10px auto;
  border-radius: 50px;
  font-weight: 700;
  padding: 5px 15px;
}

/*============ANIMATION===========*/

/*===CLOUD===*/

@keyframes animatec {
  0% {
    top: 30%;
    left: -10%;
    transform: rotate(-12deg);
  }
  50% {
    top: 20%;
    left: 45%;
    transform: rotate(0deg);
  }
  100% {
    top: 30%;
    left: 100%;
    transform: rotate(12deg);
  }
}

@keyframes animatecc {
  0% {
    top: 23%;
    left: -30%;
    transform: rotate(-12deg);
  }
  50% {
    top: 13%;
    left: 43%;
    transform: rotate(0deg);
  }
  100% {
    top: 23%;
    left: 110%;
    transform: rotate(12deg);
  }
}

@keyframes animateccc {
  0% {
    top: 15%;
    left: 110%;
    transform: rotate(12deg);
  }
  50% {
    top: 5%;
    left: 45%;
    transform: rotate(0deg);
  }
  100% {
    top: 15%;
    left: -30%;
    transform: rotate(-12deg);
  }
}

/*===BALLOON===*/

@-webkit-keyframes balloon {
  0%,50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-5px);
  }
}
@-moz-keyframes balloon {
  0%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-15px);
  }
  60% {
    -moz-transform: translateY(-5px);
  }
}
@-o-keyframes balloon {
  0%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-15px);
  }
  60% {
    -o-transform: translateY(-5px);
  }
}
@keyframes balloon {
  0%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/*===LEAF===*/

@-webkit-keyframes leafone {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(50px, 170px) rotate(-70deg);
    opacity: 1;
  }
  100% {
    transform: translate(50px, 170px) rotate(-70deg);
    opacity: 0;
  }
}
@-moz-keyframes leafone {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(50px, 170px) rotate(-70deg);
    opacity: 1;
  }
  100% {
    transform: translate(50px, 170px) rotate(-70deg);
    opacity: 0;
  }
}
@-o-keyframes leafone {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(50px, 170px) rotate(-70deg);
    opacity: 1;
  }
  100% {
    transform: translate(50px, 170px) rotate(-70deg);
    opacity: 0;
  }
}
@keyframes leafone {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(50px, 170px) rotate(-70deg);
    opacity: 1;
  }
  100% {
    transform: translate(50px, 170px) rotate(-70deg);
    opacity: 0;
  }
}

@-webkit-keyframes leaftwo {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(-20px, 170px) rotate(60deg);
    opacity: 1;
  }
  100% {
    transform: translate(-20px, 170px) rotate(60deg);
    opacity: 0;
  }
}
@-moz-keyframes leaftwo {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(-20px, 170px) rotate(60deg);
    opacity: 1;
  }
  100% {
    transform: translate(-20px, 170px) rotate(60deg);
    opacity: 0;
  }
}
@-o-keyframes leaftwo {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(-20px, 170px) rotate(60deg);
    opacity: 1;
  }
  100% {
    transform: translate(-20px, 170px) rotate(60deg);
    opacity: 0;
  }
}
@keyframes leaftwo {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(-20px, 170px) rotate(60deg);
    opacity: 1;
  }
  100% {
    transform: translate(-20px, 170px) rotate(60deg);
    opacity: 0;
  }
}

@-webkit-keyframes leafthree {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(-10px, 170px) rotate(60deg);
    opacity: 1;
  }
  100% {
    transform: translate(-10px, 170px) rotate(60deg);
    opacity: 0;
  }
}
@-moz-keyframes leafthree {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(-10px, 170px) rotate(60deg);
    opacity: 1;
  }
  100% {
    transform: translate(-10px, 170px) rotate(60deg);
    opacity: 0;
  }
}
@-o-keyframes leafthree {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(-10px, 170px) rotate(60deg);
    opacity: 1;
  }
  100% {
    transform: translate(-10px, 170px) rotate(60deg);
    opacity: 0;
  }
}
@keyframes leafthree {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(-10px, 170px) rotate(60deg);
    opacity: 1;
  }
  100% {
    transform: translate(-10px, 170px) rotate(60deg);
    opacity: 0;
  }
}

@-webkit-keyframes leaffour {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(-75px, 170px) rotate(80deg);
    opacity: 1;
  }
  100% {
    transform: translate(-75px, 170px) rotate(80deg);
    opacity: 0;
  }
}
@-moz-keyframes leaffour {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(-75px, 170px) rotate(80deg);
    opacity: 1;
  }
  100% {
    transform: translate(-75px, 170px) rotate(80deg);
    opacity: 0;
  }
}
@-o-keyframes leaffour {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(-75px, 170px) rotate(80deg);
    opacity: 1;
  }
  100% {
    transform: translate(-75px, 170px) rotate(80deg);
    opacity: 0;
  }
}
@keyframes leaffour {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  70% {
    transform: translate(-75px, 170px) rotate(80deg);
    opacity: 1;
  }
  100% {
    transform: translate(-75px, 170px) rotate(80deg);
    opacity: 0;
  }
}

/*===SMOKE===*/

@keyframes smoke {
  100% { background-position: -1708px; }
}

/*===PRE-LOADER===*/

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/*===SLIDE TRANSITION===*/

@keyframes rotate-left-min {
  from {
    transform: translate(0px, 0px) rotate(0deg);
  }
  to {
    transform: translate(0px, 200px) rotate(-5deg);
  }
}

@keyframes rotate-left-max {
  from {
    transform: translate(-200px, 75px) rotate(-5deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes rotate-right-min {
  from {
    transform: translate(200px, 75px) rotate(5deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes rotate-right-max {
  from {
    transform: translate(0px, 0px) rotate(0deg);
  }
  to {
    transform: translate(0px, 200px) rotate(5deg);
  }
}


@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-5px);
    }
    60% {
      -webkit-transform: translateY(-4px);
    }
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-7px);
    }
    60% {
      -moz-transform: translateY(-4px);
    }
  }
  @-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -o-transform: translateY(0);
    }
    40% {
      -o-transform: translateY(-7px);
    }
    60% {
      -o-transform: translateY(-4px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-7px);
    }
    60% {
      transform: translateY(-4px);
    }
  }

  @-webkit-keyframes bounceright {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-8px);
    }
    60% {
      transform: translateX(-3px);
    }
  }
  @-moz-keyframes bounceright {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-8px);
    }
    60% {
      transform: translateX(-3px);
    }
  }
  @-o-keyframes bounceright {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-8px);
    }
    60% {
      transform: translateX(-3px);
    }
  }
  @keyframes bounceright {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-8px);
    }
    60% {
      transform: translateX(-3px);
    }
  }
